<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal page of the developer Cleiton Luiz</title>
  <meta name="author" content="Cleiton Luiz Rocha Teodoro">
  <meta
    name="description"
    content="Page created to promote my work with technology and share my thoughts on software development
    software">
    <meta
      name="keywords"
      content="programming, websites, web, development, applications, e-commerce, website creation, e-commerce, software development, react, node, remix, javascript">
  <link rel="canonical" href="https://cleitonluizdev.com.br/"/>  
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>
</head>

<body class="bg-indigo-800">

  <div id="side-menu" class="fixed top-0 left-[-250px] w-[240px] h-screen z-50 bg-sky-700/50 p-5
  flex flex-col space-y-5 text-white duration-300">
    <button class="text-right text-4xl" onclick="closeMenu()">&times;</button>
    <a class="hover:text-yellow-300 font-semibold text-lg" href="/">Home</a>
    <a class="hover:text-yellow-300 font-semibold text-lg" href="/blog.html">Blog</a>
    <a class="hover:text-yellow-300 font-semibold text-lg" href="/projects.html">Projects</a>
  </div>

  <header class="max-w-screen-lg flex justify-between py-4 mx-auto">
    <div class="text-white font-bold">
      LOGO
    </div>

    <div>
      <img class="inline-block cursor-pointer" width="36" src="{{ '/images/sharp-menu.svg' | url }}" onclick="openMenu()" alt="A hamburguer icon that to show de menu" />
      <a href="https://twitter.com/cleiton_dev" rel="noopener" target="_blank">
        <img class="inline-block" width="36" src="{{ '/images/twitter.svg' | url }}" alt="Twitter logo" />
      </a>
      <a href="https://www.linkedin.com/in/cleiton-luiz-nodejs-javascript-freelancer/" rel="noopener" target="_blank">
        <img class="inline-block" width="36" src="{{ '/images/linkedin-icon.svg' | url }}" alt="Linkedin logo" />
      </a>
      <a href="https://github.com/clluiz" rel="noopener" target="_blank" style="background-color: white; display: inline-block; height: 36px; width: 36px;">
        <img class="inline-block" width="36" src="{{ '/images/github.svg' | url }}" alt="Github logo" />
      </a>      
    </div>
  </header>

  <main class="min-h-screen px-4 lg:px-4 md:max-w-screen-lg mx-auto">
    {% block content %}{% endblock %}
  </main>

  <footer class="sticky top-[100vh] h-16 w-full bg-neutral-500 text-white font-bold text-center">
    <small>Copyright © 2022 Cleiton Luiz Rocha Teodoro</small>
  </footer>

  <script>
    var sideMenu = document.getElementById('side-menu');
    function openMenu() {
      sideMenu.classList.remove('left-[-250px]');
      sideMenu.classList.add('left-0');
    }

    function closeMenu() {
      sideMenu.classList.remove('left-0');
      sideMenu.classList.add('left-[-250px]');
    }
  </script>

</body>

</html>