<!DOCTYPE html>

<html lang="{{ locale }}" dir="{{ dir }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="author" content="Cleiton Luiz Rocha Teodoro">
  <meta name="description"
    content={{ description }}>
  <meta name="keywords"
    content={{ keywords }}>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/post.css' | url }}" />
  <script defer data-domain="cleitonluizdev.com.br" src="https://plausible.io/js/script.js"></script>
</head>

<body class="min-h-screen">

  <header class="h-20 hero-image">
    <div style="background-color: #0079bA8C; height: 100%;">

      <div class="flex flex-row justify-end text-white gap-x-1">
        <a href="/en-US/">
          English
          <img width="20" alt="{{ 'america_flag' | i18n }}" src="{{ '/images/usa-flag.webp' | url }}" class="inline-block" />
        </a>
        <a href="/pt-BR/">
          Português
          <img width="20" alt="{{ 'brazil_flag' | i18n }}" src="{{ '/images/brazil-flag.webp' | url }}" class="inline-block"/>
        </a>
      </div>        
      
      <div class="container text-center mx-auto">

        <nav class="md:hidden h-16 flex justify-end p-4">
          <div class="space-y-2 cursor-pointer" role="button" onclick="toggleMenu()">
            <div class="w-6 h-1 bg-white"></div>
            <div class="w-6 h-1 bg-white"></div>
            <div class="w-6 h-1 bg-white"></div>
          </div>
        </nav>

        <ul id="links" class="hidden absolute bg-primary-color w-full py-4 list-none">
          <li><a class="text-white font-semibold underline h-8 py-2 inline-block" href="/{{ locale }}/">{{ 'services' | i18n }}</a></li>
          <li><a class="text-white font-semibold underline h-8 py-2 inline-block" href="/{{ locale }}/blog/">{{ 'blog' | i18n }}</a></li>
          <li><a class="text-white font-semibold underline h-8 py-2 inline-block" href="/{{ locale }}/index.html#portfolio">{{ 'portfolio' | i18n }}</a></li>
        </ul>

        <nav class="flex items-center justify-evenly py-5">
          <a href="/{{ locale }}/">
            <img src="{{ '/images/cleitonluizdev.svg' }}" alt="Logo na parte superior esquerda é um link para a página inicial" width="120" height="100%" />
          </a>
          <ul class="flex justify-center gap-48 list-none">
            <li class=""><a class="text-white font-semibold underline" href="/{{ locale }}/index.html#servicos">{{ 'services' | i18n }}</a></li>
            <li class=""><a class="text-white font-semibold underline" href="/{{ locale }}/blog/">{{ 'blog' | i18n }}</a></li>
            <li class=""><a class="text-white font-semibold underline" href="/{{ locale }}/index.html#portfolio">{{ 'portfolio' | i18n }}</a></li>
          </ul>
        </nav>

      </div>

    </div>
  </header>   

  <main class="container mx-auto post px-10">
    {{ content | safe }}
  </main>

  <footer class="footer bg-primary-color h-4 py-2 md:h-72 md:py-4 sticky top-[100vh]">

    <div class="hidden md:block container mx-auto h-full">

      <div class="columns-2 h-full">

        <div class="w-full flex flex-col items-center text-white h-full">
          
          <h3 class="font-bold text-2xl mb-2">{{ 'social_networks' | i18n }}</h3>
          
          <ul class="w-full flex flex-col items-center gap-y-5 list-none">
            <li>
              <a class="font-medium flex items-center gap-x-5" href="https://www.linkedin.com/in/cleiton-luiz-nodejs-javascript/" target="_blank" rel="noopener">
                <img src="{{ '/images/linkedin.svg' | url }}" alt="Logo do linkedin" width="30px" height="30px" />
                Linkedin
              </a>
            </li>
            <li>
              <a class="font-medium flex items-center gap-x-5" href="https://github.com/clluiz" target="_blank" rel="noopener">
                <img src="{{ '/images/github.svg' | url }}" alt="Logo do github mostrando o octocat" width="30px"
                  height="30px" />
                Github
              </a>
            </li>
            <li>
              <a class="font-medium flex items-center gap-x-5" href="https://twitter.com/cleiton_dev" target="_blanck" rel="noopener">
                <img src="{{ '/images/twitter.svg' | url }}" alt="Logo do github mostrando o octocat" width="30px"
                  height="30px" />
                Twitter
              </a>
            </li>
          </ul>
        </div>

        <div class="w-full flex flex-col items-center text-white h-full">
          
          <h3 class="font-bold text-2xl mb-2">{{ 'site_map' | i18n }}</h3>
          
          <ul class="w-full flex flex-col items-center gap-y-5 list-none">
            <li>
              <a class="font-medium" href="/{{locale}}/">Home</a>
            </li>
            <li>
              <a class="font-medium" href="/{{locale}}/blog/">{{ 'blog' | i18n }}</a>
            </li>
            <li>
              <a class="font-medium" href="/{{ locale }}/index.html#servicos">{{ 'services' | i18n }}</a>
            </li>
            <li>
              <a class="font-medium" href="/{{ locale }}/index.html#portfolio">{{ 'portfolio' | i18n }}</a>
            </li>
          </ul>
        </div>
      
      </div>

    </div>
    
    <small class="absolute text-white font-medium text-center w-full inline-block bg-primary-color">Copyright © 2022 Cleiton Luiz Rocha Teodoro</small>

  </footer>
</body>

<script>
  function toggleMenu() {
    var links = document.getElementById("links");
    if (links.classList.contains("hidden")) {
      links.classList.remove("hidden");
      links.classList.add("block");
    } else {
      links.classList.remove("block");
      links.classList.add("hidden");
    }
  }
</script>

</html>