<ul>
  {% for post in postslist %}
    <li class="row post">
      <time datetime="{{post.date}}">{{ post.date }}</time>
      <h3><a class="font-400 blog-post-link" href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      <span>{{post.data.description}}</span>
    </li>
  {% endfor %}
<ul>