<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="author" content="Cleiton Luiz Rocha Teodoro">
  <meta name="description"
    content={{ description }}>
  <meta name="keywords"
    content={{ keywords }}>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/post.css' | url }}" />
</head>

<body>

  <header class="h-20 hero-image">
    <div style="background-color: #0079bA8C; height: 100%;">
      <div class="container text-center mx-auto">
        <nav class="flex items-center justify-evenly py-5">
          <a href="/index.html">
            <img src="{{ '/images/cleitonluizdev.svg' }}" width="120" height="100%" />
          </a>
          <ul class="flex justify-center gap-48">
            <li class=""><a class="text-white font-semibold underline" href="/index.html#servicos">Serviços</a></li>
            <li class=""><a class="text-white font-semibold underline" href="/blog.html">Blog</a></li>
            <li class=""><a class="text-white font-semibold underline" href="/index.html#portfolio">Portfólio</a></li>
          </ul>
        </nav>

      </div>

    </div>
  </header>   

  <main class="container mx-auto post">
    {{ content | safe }}
  </main>

  <footer class="footer bg-primary-color h-72 py-4">

    <div class="container mx-auto h-full">

      <div class="columns-2 h-full">

        <div class="w-full flex flex-col items-center text-white h-full">
          
          <h4 class="font-bold text-2xl mb-2">Redes sociais</h4>
          
          <ul class="w-full flex flex-col items-center gap-y-5">
            <li>
              <a class="font-medium flex items-center gap-x-5" href="https://www.linkedin.com/in/cleiton-luiz-nodejs-javascript/" target="_blank" rel="noopener">
                <img src="{{ '/images/linkedin.svg' | url }}" alt="Logo do linkedin" width="30px" height="30px" />
                Linkedin
              </a>
            </li>
            <li>
              <a class="font-medium flex items-center gap-x-5" href="https://github.com/clluiz" target="_blank" rel="noopener">
                <img src="{{ '/images/github.svg' | url }}" alt="Logo do github mostrando o octocat" width="30px"
                  height="30px" />
                Github
              </a>
            </li>
            <li>
              <a class="font-medium flex items-center gap-x-5" href="https://twitter.com/cleiton_dev" target="_blanck" rel="noopener">
                <img src="{{ '/images/twitter.svg' | url }}" alt="Logo do github mostrando o octocat" width="30px"
                  height="30px" />
                Twitter
              </a>
            </li>
          </ul>
        </div>

        <div class="w-full flex flex-col items-center text-white h-full">
          
          <h4 class="font-bold text-2xl mb-2">Mapa do site</h4>
          
          <ul class="w-full flex flex-col items-center gap-y-5">
            <li>
              <a class="font-medium" href="/index.html">Home</a>
            </li>
            <li>
              <a class="font-medium" href="/blog.html">Blog</a>
            </li>
            <li>
              <a class="font-medium" href="/index.html#servicos">Serviços</a>
            </li>
            <li>
              <a class="font-medium" href="/index.html#portfolio">Portfólio</a>
            </li>
          </ul>
        </div>
      
      </div>

    </div>
    
    <small class="absolute text-white font-medium text-center w-full inline-block bg-primary-color">Copyright © 2022 Cleiton Luiz Rocha Teodoro</small>

  </footer>
</body>

</html>