{% extends 'base.njk' %}

{% block content %}
<div class="container mx-auto bg-white py-8 px-2">

  <h1 class="text-3xl font-bold text-violet-900 mb-8">My personal projects</h1>

  <ul>
    {% for project in projects %}
    <li class="mb-8">
      <h2 class="text-2xl text-violet-700 mb-1">
        {{ project.name }}</h2>
      <div>{{ project.description }}</div>

      <a target="_blank" rel="noopener" href="{{ project.link }}"
      class="inline-block rounded-full text-white text-bold bg-purple-500 p-2 mt-2">More +</a>
    </li>
    {% endfor %}
  </ul>

</div>
{% endblock %}
