<section class="my-8">

    <h2 class="text-3xl font-semibold text-center">{{ 'skills' | i18n }}</h2>

    <div class="container mx-auto py-8">
        <ul class="columns-1 md:columns-3 list-none justify-center">
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/logo-javascript-96.png' | url }}" alt="Logo javascript" /> 
                <div>Javascript, +10 {{ 'years' | i18n }}</div>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-html-5-96.png' | url }}" alt="Logo html5" /> 
                <span>HTML, +10 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-css3-96.png' | url }}" alt="Logo CSS3" /> 
                <span>CSS3, +10 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-node-js-96.png' | url }}" alt="Logo NodeJs" /> 
                <span>NodeJS, 6 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-react-96.png' | url }}" alt="Logo React" /> 
                <span>React, 6 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-logo-java-coffee-cup-96.png' | url }}" alt="Logo Java" /> 
                <span>Java, 5 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/c-sharp.svg' | url }}" width="96" alt="Logo C sharp" /> 
                <span>C#, 5 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-postgreesql-96.png' | url }}" alt="Logo PostgreSQL" />
                <span>PostgreSQL, 5 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/icons8-mongodb-a-cross-platform-document-oriented-database-program-96.png' | url }}" alt="Logo MongoDB" />
                <span>MongoDB, 3 {{ 'years' | i18n }}</span>
            </li>
            
            <li class="my-5 flex flex-col md:flex-row items-center justify-center">
                <img src="{{ '/images/react-native.png' | url }}" width="96" alt="Logo React Native" /> 
                <span>React Native, 3 {{ 'years' | i18n }}</span>
            </li>
        </ul>
    </div>
    
    
</section>