<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criação de sites, e-commerce e softwares para meis, micro e pequenas empresas</title>
    <meta name="author" content="Cleiton Luiz Rocha Teodoro">
    <meta
      name="description"
      content="Página criada para divulgar meu trabalho com tecnologia e compartilhar meus pensamentos sobre desenvolvimento de
        software">
    <meta
      name="keywords"
      content="programação, sites, web, desenvolvimento, aplicações, e-commerce, criação de sites, lojas virtuais,
        desenvolvimento de software">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}"/>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}"/>
    <script defer data-domain="cleitonluizdev.com.br" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <header class="h-60 md:h-96 hero-image">
      <div class="bg-primary-color-alpha h-full">
        <div class="container text-center mx-auto">
          <div class="flex flex-row justify-end text-white gap-x-1">
            <a href="/en-US/">
              English <img width="20" alt="{{ 'america_flag' | i18n }}" src="{{ '/images/usa-flag.webp' | url }}" class="inline-block"/>
            </a>
            <a href="/pt-BR/">
              Português <img width="20" alt="{{ 'brazil_flag' | i18n }}" src="{{ '/images/brazil-flag.webp' | url }}" class="inline-block"/>
            </a>
          </div>
          <nav class="md:hidden h-16 flex justify-end p-4">
            <div class="space-y-2 cursor-pointer" aria-label="menu" role="button" onclick="toggleMenu()">
              <div class="w-6 h-1 bg-white"></div>
              <div class="w-6 h-1 bg-white"></div>
              <div class="w-6 h-1 bg-white"></div>
            </div>
          </nav>
          <ul id="links" class="hidden absolute bg-primary-color w-full py-4 list-none">
            <li>
              <a class="text-white font-semibold underline h-8 py-2 inline-block" href="#servicos">{{ 'services' | i18n }}</a>
            </li>
            <li>
              <a class="text-white font-semibold underline h-8 py-2 inline-block" href="blog.html">{{ 'blog' | i18n }}</a>
            </li>
            <li>
              <a class="text-white font-semibold underline h-8 py-2 inline-block" href="#portfolio">{{ 'portfolio' |
              i18n }}</a>
            </li>
            <li>
              <a class="text-white font-semibold underline h-8 py-2 inline-block" href="#contato">{{ 'contact' |
              i18n }}</a>
            </li>
          </ul>
          <nav class="hidden md:flex md:h-36 md:items-center md:justify-evenly">
            <a href="index.html">
              <img src="{{ '/images/cleitonluizdev.svg' }}" alt="Logo na parte superior esquerda é um link para a página inicial" width="120" height="100%"/>
            </a>
            <ul class="flex justify-center gap-48 list-none">
              <li>
                <a class="text-white font-semibold underline" href="#servicos">{{ 'services' | i18n }}</a>
              </li>
              <li>
                <a class="text-white font-semibold underline" href="blog.html">{{ 'blog' | i18n }}</a>
              </li>
              <li>
                <a class="text-white font-semibold underline" href="#portfolio">{{ 'portfolio' | i18n }}</a>
              </li>
              <li>
                <a class="text-white font-semibold underline h-8 py-2 inline-block" href="#contato">{{ 'contact' |
              i18n }}</a>
              </li>
            </ul>
          </nav>
          <h1 class="hidden text-primary-text text-5xl font-bold mb-10 md:block">{{ 'greetings' | i18n }}</h1>
          <p class="text-primary-text text-2xl font-medium">{{ 'what_i_do' | i18n }}</p>
        </div>
      </div>
    </header>
    <div class="text-center bg-light-gray py-8 text-secondary-color font-medium p-4">
      <p class="text-lg">{{ 'catch_question' | i18n }}</p>
      <br/>
      <p class="text-lg">{{ 'experience' | i18n }}</p>
      <br/>
      <a href="#contato" class="rounded w-48 py-2 m-auto h-11 block hover:bg-red-400 bg-red-700 font-bold text-rose-100">
        {{ 'get_in_touch' | i18n }}
      </a>
    </div>
    <section id="servicos" class="mt-8" style="min-height: 500px">
      <h2 class="text-3xl font-semibold text-center">{{ 'services' | i18n }}</h2>
      <div class="container mx-auto my-10 md:my-28 h-full">
        <div class="px-8 columns-1 md:columns-3">
          <div class="w-full flex flex-col items-center gap-y-4 mb-4">
            <img src="{{ '/images/sites.svg' | url }}" width="125" height="125" alt="Uma imagem exibindo um site estilizado para ilustrar o serviço de desenvolvimento de sites"/>
            <h3 class="font-semibold">Sites</h3>
            <div>
              <p>{{ 'service_sites' | i18n }}</p>
            </div>
          </div>
          <div class="w-full flex flex-col items-center gap-y-4 mb-4">
            <img src="{{ '/images/ecommerce.svg' | url }}" width="125" height="125" alt="Ilustração representando um caminhão dando a volta no mundo para ilustrar o e-commerce"/>
            <h3 class="font-semibold">E-commerce</h3>
            <div>
              <p>{{ 'service_e_commerce' | i18n }}</p>
            </div>
          </div>
          <div class="w-full flex flex-col items-center gap-y-4 mb-4">
            <img src="{{ '/images/software.svg' | url }}" width="125" height="125" alt="Uma imagem com gráfico para exemplificar um aplicativo"/>
            <h3 class="font-semibold">{{ 'applications' | i18n }}</h3>
            <div>
              <p>{{ 'service_app' | i18n }}</p>
            </div>
          </div>
          <!-- <div class="w-full flex flex-col items-center gap-y-4 mb-4"> <img src="{{ '/images/analisedados.svg' | url }}"
          width="125" height="125"
              alt="Uma imagem com gráfico para exemplificar um aplicativo" />
          <h3 class="font-semibold">Análise de Dados</h3> <div>
              <p>Projetos de análise de dados e ciência de dados</p>
          </div> </div> -->
        </div>
      </div>
    </section>
    <section id="portfolio" class="py-8 flex flex-col justify-center bg-light-gray" style="min-height: 300px;">
      <h2 class="text-3xl font-semibold text-center">{{ 'portfolio' | i18n }}</h2>
      <p class="text-center">{{ 'description_portofolio' | i18n }}</p>
      <!-- <div class="container mx-auto my-12" style="height: 100%">
      
      <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-16 align-middle md:justify-center">
      
          <div class="w-1/8 p-2 flex flex-col justify-center items-center">
            <a href="https://www.cashu.com.br" target="_blank" rel="noopener">
              <img src="{{ '/images/cashu.webp' | url }}" width="102" height="28" alt="Logo da fintech Cashu" />
            </a>
          </div>
      
          <div class="w-1/8 p-2 flex flex-col justify-center items-center">
            <a class="p-8 bg-kenoby-color" href="https://www.kenoby.com/" target="_blank" rel="noopener">
              <img src="{{ '/images/kenoby.svg' | url }}" width="114" height="40"
                alt="Logo da empresa de recrutamento e seleção Kenoby" />
            </a>
          </div>
      
          <div class="w-1/8 p-2 flex flex-col justify-center items-center">
            <a class="p-8 bg-black flex-col justify-center" href="https://www.houer.com.br" target="_blank"
              rel="noopener">
              <img src="{{ '/images/houer.png' | url }}" width="180" height="65"
                alt="Logo da empresa de engenharia Houer" />
            </a>
          </div>
      
          <div class="w-1/8 p-2 flex flex-col justify-center items-center">
            <a href="https://youxgroup.com.br" target="_blank" rel="noopener">
              <img src="{{ '/images/youx.png' | url }}" width="180" height="81" alt="Logo do grupo Youx" />
            </a>
          </div>
      
      </div>
      
      </div> -->
      <div class="container mx-auto my-12 min-h-full">
        {% include "portfolio.njk" %}
      </div>
    </section>
    {% include "skills.njk" %}
    <section
      id="testemunhos"
      class="py-8 flex flex-col justify-center"
      style="background-color: #EFEFEF59; min-height: 300px;">
      <h2 class="text-3xl font-semibold text-center">{{ 'testimonials' | i18n }}</h2>
      <div class="container mx-auto my-10 md:my-28 h-full">
        <div class="flex flex-col md:flex-row md:flex-wrap gap-y-4 md:gap-x-16 align-middle md:justify-center">
          <div class="mb-10 max-w-sm rounded overflow-hidden shadow-lg p-4">
            <p class="my-2 text-dark-gray">
              Cleiton is a professional with excellent technical knowledge in systems development (web and mobile). Altogether we
              worked together for more than 5 years for four different companies. He is an expert in Javascript regardless of the
              framework.
            </p>
            <a
              class="underline text-secondary-color"
              href="https://www.linkedin.com/in/elias-bruno-de-castro-lasmar/"
              rel="noopener"
              target="_blank">Elias Lasmar</a>
          </div>
          <div class="mb-10 max-w-sm rounded overflow-hidden shadow-lg p-4">
            <p class="my-2 text-dark-gray">
              Cleiton is a great guy, he is aware of technology trends and which one worth to learn. Always willing to help other team
              members explaining complex problems and how to solve it. Expect him to work hard and deliver what was proposed.
            </p>
            <a
              class="underline text-secondary-color"
              href="https://www.linkedin.com/in/heltonrodriguesrubyonrails/"
              rel="noopener"
              target="_blan
                                                          ">Helton Rodrigues</a>
          </div>
          <div class="mb-10 max-w-sm rounded overflow-hidden shadow-lg p-4">
            <p class="my-2 text-dark-gray">
              I've worked with Cleiton in different opportunities, as a fellow while working at LEMAF and as his leader during Codex
              time. Cleiton is a developer specialist. He is always bringing new ideas, always providing better ways to solve problems
              and always contributing with the company on the daily challenges. Cleiton works well in different ways, being an
              architect when necessary, being a backend or frontend developer. He is always studying and he is constantly updated
              about the technologies that company is working with or even in technologies that could be adopted by the company.
            </p>
            <a
              class="underline text-secondary-color"
              href="https://www.linkedin.com/in/hebertbrandao/"
              rel="noopener"
              target="_blan
                                                          ">Hebert Vitor</a>
          </div>
        </div>
      </div>
    </section>
    <section id="contato" class="container mx-auto text-center h-fit py-8">
      <h2 class="text-3xl font-semibold">{{ 'contact' | i18n }}</h2>
      {# <a href="https://wa.me/5535999237753/?text=
                      Ol%C3%A1%20Cleiton!%20Entrei%20no%20seu%20site%20e%20estou%20interessado%20em%20saber%20mais%20sobre%20seus%20servi%C3%A7os
                      " target="_blank" rel="noopener"
                        class="w-96 mt-8 p-8 rounded-2xl mx-auto h-24 block hover:bg-red-400 bg-red-700 font-bold text-rose-100">
                        {{ 'get_in_touch' | i18n }}
                      </a> #}
      <form
        name="contact"
        method="POST"
        data-netlify="true"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2 text-center mx-auto">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2 text-left">{{ 'your_name' | i18n }}:
            <input
              class="shadow appearance-none border border-gray rounded w-full py-2 px-3 text-secondary-color leading-tight
                focus:outline-none focus:shadow-outline"
              type="text"
              name="name"/></label>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2 text-left">{{ 'your_email' | i18n }}:
            <input
              class="shadow appearance-none border border-gray rounded w-full py-2 px-3 text-secondary-color leading-tight
                focus:outline-none focus:shadow-outline"
              type="email"
              name="email"/></label>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2 text-left">{{ 'subject' | i18n }}:
            <input
              class="shadow appearance-none border border-gray rounded w-full py-2 px-3 text-secondary-color leading-tight
                focus:outline-none focus:shadow-outline"
              type="text"/><label></div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2 text-left">{{ 'message' | i18n }}:
                <textarea
                  class="shadow appearance-none border border-gray rounded w-full py-2 px-3 text-secondary-color leading-tight
                    focus:outline-none focus:shadow-outline"
                  name="message"></textarea>
              </label>
            </div>
            <div>
              <button
                type="submit"
                class="bg-secondary-color hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none
                  focus:shadow-outline">{{ 'send' | i18n }}</button>
            </div>
          </form>
        </div>
      </section>
      <footer class="footer bg-primary-color h-4 py-2 md:h-72 md:py-4">
        <div class="hidden md:block container mx-auto h-full">
          <div class="columns-2 h-full">
            <div class="w-full flex flex-col items-center text-white h-full">
              <h3 class="font-bold text-2xl mb-2">{{ 'social_networks' | i18n }}</h3>
              <ul class="w-full flex flex-col items-center gap-y-5 list-none">
                <li>
                  <a
                    class="font-medium flex items-center gap-x-5"
                    href="https://www.linkedin.com/in/cleiton-luiz-nodejs-javascript/"
                    target="_blank"
                    rel="noopener">
                    <img src="{{ '/images/linkedin.svg' | url }}" alt="Logo do linkedin" width="30px" height="30px"/> Linkedin
                  </a>
                </li>
                <li>
                  <a class="font-medium flex items-center gap-x-5" href="https://github.com/clluiz" target="_blank" rel="noopener">
                    <img src="{{ '/images/github.svg' | url }}" alt="Logo do github mostrando o octocat" width="30px" height="30px"/> Github
                  </a>
                </li>
                <li>
                  <a class="font-medium flex items-center gap-x-5" href="https://twitter.com/cleiton_dev" target="_blanck" rel="noopener">
                    <img src="{{ '/images/twitter.svg' | url }}" alt="Logo do github mostrando o octocat" width="30px" height="30px"/> Twitter
                  </a>
                </li>
              </ul>
            </div>
            <div class="w-full flex flex-col items-center text-white h-full">
              <h3 class="font-bold text-2xl mb-2">{{ 'site_map' | i18n }}</h3>
              <ul class="w-full flex flex-col items-center gap-y-5 list-none">
                <li>
                  <a class="font-medium" href="#">Home</a>
                </li>
                <li>
                  <a class="font-medium" href="blog.html">{{ 'blog' | i18n }}</a>
                </li>
                <li>
                  <a class="font-medium" href="#servicos">{{ 'services' | i18n }}</a>
                </li>
                <li>
                  <a class="font-medium" href="#portfolio">{{ 'portfolio' | i18n }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <small class="absolute text-white font-medium text-center w-full inline-block bg-primary-color">Copyright © 2022 Cleiton
          Luiz Rocha Teodoro</small>
      </footer>
    </body>
    <script>
      function toggleMenu() {
        var links = document.getElementById("links");
        if (links.classList.contains("hidden")) {
          links.classList.remove("hidden");
          links.classList.add("block");
        } else {
          links.classList.remove("block");
          links.classList.add("hidden");
        }
      }
    </script>
  </body>
</html>