@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #0079BA;
  --primary-color-alpha: #0079bA8C;
  --primary-color-dark: #052A39;
  --primary-text: #C7EF00;
  --light-gray: #C4C4C4;
  --gray: #BBBBBB;
  --dark-gray: #666666;
  --white: #FFFFFF;
  --black: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

body {
  background-color: white;
}

/** resets **/
ul,h1,h2,h3,h4,h5,h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
/** end resets **/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.250rem;
}

p {
  line-height: 2.0;
}

/** estilos especifico dos componentes do site **/
.hero-image {
  background-image: url('../images/a3cdf3560eaa1dbe366834f7ed0efed5.jpg');
  background-size: cover;
}

.hero-image > .menu-container {
  background-color: var(--primary-color-alpha);
  height: 200px;
}

.menu-container {
  background-color: var(--primary-color);
  height: 130px;
  padding: 15px 0;
}

.main-navigation {
  position: relative;
}

.menu {
  list-style-type: none;
  position: absolute;
  height: 80px;
  top:50%;
  margin-top: 40px;
}

.menu-item {
  font-size: 1.125rem;
  text-align: center;
}

.menu-item > a {
  color: var(--white);
  font-weight:800;
}

.menu-item > a.active-page {
  color: var(--primary-text);
}

.header-container {
  height: 350px;
  background-color: var(--primary-color-alpha);
}

.header-container p {
  font-size: 1.5rem;
}

.secao-servicos {
  min-height: 600px;
  padding: 60px 0 20px 0;
}

.secao-servicos > h2 {
  margin-bottom: 40px;
  color: var(--dark-gray);
}

.card-servico {
  height: 360px;
}

.card-title {
  margin: 10px 0;
  text-align: center;
  color: var(--primary-color);
}

.card-servico > .card-body {
  padding: 10px;
}

.card-body > .descricao-servico {
  font-size: 1rem;
  color: var(--black);
  font-weight: 400;
  text-align: center;
}

.secao-sobre {
  padding: 20px 0;
  min-height: 500px;
}

.secao-sobre h2 {
  color: #414141;
}

.secao-sobre p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #414141;

}

.footer {
  min-height: 350px;
  background-color: var(--primary-color);
  position: relative;
}

footer h4 {
  padding: 15px 0;
  color: var(--white);
  text-align: center;
}

footer .social {
  list-style-type: none;
  text-align: center;
}

footer .social li {
  height: 70px;
}

footer .social a {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  color: var(--white);
  font-weight: 500;
}

footer .mapa-site {
  list-style: none;
  text-align: center;
}

footer .mapa-site > li::before {
  content: "\2022";
  color: var(--white);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

footer .mapa-site li {
  height: 70px;
}

footer .mapa-site a {
  display: inline-flex;
  align-items: baseline;
  gap: 20px;
  color: var(--white);
  font-weight: 500;
}

.contact label {
  color: var(--white);
  font-weight: bold;
}

.contact input {
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

.contact textarea {
  height: 200px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.contact button {
  cursor: pointer;
  height: 50px;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  background-color: #003e50;
  border: none;
}

.copyright {
  width: 100%;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color-dark);
}

/** utilites **/

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-dark-color {
  background-color: var(--dark-gray);
}

.bg-light-gray-color {
  background-color: var(--light-gray);
}

.font-bold {
  font-weight: bold;
}

.font-medium {
  font-weight: 500;
}

.font-200 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-text);
}

.blog-post-link {
  color: var(--primary-color);
}

.blog-post-link:hover {
  color: var(--primary-color-alpha);
}

.post {
  margin: 60px 0;
}

.most-recent {
  margin: 100px 0;
}
